In [0]:
from pyspark.sql import functions as F, types as T

In [0]:
data1 = [
    (100, "Dileep", 20000),
    (101, "Rajeev", 24000),
    (102, "Ganesh", 30000),
    (103, "Lokesh", 24500),
    (104, None, 30000),
    (105, "Kiran", None)
]

columns = T.StructType([
    T.StructField("EmpId", T.IntegerType(), True),
    T.StructField("EmpName", T.StringType(), True),
    T.StructField("Salary", T.IntegerType(), True)
])

df = spark.createDataFrame(data=data1, schema=columns)
df.display()

Handling null's

In [0]:
# 1. fillna

fill_df = df.fillna("unknown", subset=["EmpName"])
fill_df.display()

In [0]:
fill_df = (
    df
    .fillna("unknown", subset=["EmpName"])
    .fillna(0, subset=["Salary"])
    )
fill_df.display()

In [0]:
# 2. na.fill

fill_df = (
    df
    .na.fill(
        {
        "EmpName": "unknown",
        "Salary": 1
        }
    )
)

fill_df.display()

In [0]:
avg_salary = int(df.select(F.avg("Salary").alias("avg_salary")).first()["avg_salary"])

fill_df = (
    df
    .na.fill(
        {
        "EmpName": "unknown",
        "Salary": avg_salary
        }
    )
)

fill_df.display()

In [0]:
avg_salary = int(
    df
    .select((F.sum("Salary") / F.count("EmpId"))
    .alias("avg_salary"))
    .first()["avg_salary"]
)

avg_salary

In [0]:
file_path = "/Volumes/workspace/new/raw_datasets/International_Education_Costs.csv"

In [0]:
df = spark.read.format("csv").option("header", True).option("inferSchema", True).load(file_path)
df.display()

In [0]:
un_count = df.select(F.col("Country"), F.col("University"))
un_count.display()

groupBy

In [0]:
no_uni_df = (
    df
    .groupBy("Country")
    .count()
)

no_uni_df.display()

In [0]:
no_uni_df = (
    df
    .groupBy("Country")
    .sum()
)

no_uni_df.display()

In [0]:
no_uni_df = (
    df
    .groupBy("Country")
    .agg(
        F.count("University").alias("noOfUniversities")
    )
)

no_uni_df.display()

In [0]:
no_uni_df = (
    df
    .groupBy("Country")
    .agg(
        F.count_distinct("University").alias("noOfUniversities")
    )
)

no_uni_df.display()

In [0]:
no_uni_df = (
    df
    .groupBy("Country")
    .agg(
        F.collect_list("University").alias("Universities")
    )
)

no_uni_df.display()

In [0]:
no_uni_df = (
    df
    .groupBy("Country")
    .agg(
        F.collect_set("University").alias("Universities")
    )
)

no_uni_df.display()